ConfigurationFileSample/ConfigurationFileSample.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Minestrone" elementFormDefault="qualified" targetNamespace="Minestrone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="minestroneSection" type="tns:Minestrone.MinestroneSectionCT" />
	<xs:complexType name="Minestrone.MinestroneSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="mappings" type="tns:Minestrone.MappingsCT">
				<xs:annotation>
					<xs:documentation>Maps old IDs to new IDs yearly</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Minestrone.MappingCT">
		<xs:attribute name="sourceId" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SourceId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="targetId" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The TargetId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Minestrone.MappingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="mapping" type="tns:Minestrone.MappingCT">
				<xs:annotation>
					<xs:documentation>The Mapping Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
